body {
    margin: auto;
    margin-top: auto;
    margin-top: 1em;
    width: 87%;
    max-width: 900px;
    padding: 1.4em 2em 1.3em 2em;
    text-align: justify;
    border: 6px double var(--hl1);
    outline: 6px solid var(--bg);
    }